h3 {
  font-size: 4vw;
}
body {
  padding-top: 50px;
}
.profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.card {
  margin-left: 2vh;
  margin-right: 2vh;
}

.about-bg {
  background-image: url("../../assets/background.jpg");
  background-clip: unset;
  background-size: 100%;
}
