h2 {
  font-size: 3vw;
}
a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
}

.model-component {
  display: grid;
  height: 500px;

  grid-template-columns: 60% 40%;
}
.tablet-canvas {
  width: 100%;
}
.right-title {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
}
.tablet {
  grid-column-start: 1;
  grid-column-end: 2;
}
